<html>
  <head>
    <link rel="stylesheet" href="/static/css/main.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/static/css/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/static/css/blueprint/print.css" type="text/css" media="print">	
    <!--[if lt IE 8]><link rel="stylesheet" href="/static/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <title> pyjobs - the python job aggregator</title> 
  </head>
  <body>
    <div id="container">
      <div id="header">
        <a href="/"><h1>epyc - jobs</h1></a>
      </div>
      <div id="title">
	 <h3><a href="/jobs/{{job.id}}">{{job.title|safe}}</a></h3>
      </div>
      <div id="content">
         {{job.content|safe}}
      </div>
      <div id="right-column">
	<h4>Added on {{job.date_added.date}}</h4>
      </div>

      <div id="footer">
        <div>
          <span id="copyright">
	    Copyright © 2008 - epyc 
          </span>
        </div>
      </div>
    </div>

    {{job_id}}
  </body>
</html>
