<html>
  <head>
    <link rel="stylesheet" href="/static/css/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/static/css/blueprint/print.css" type="text/css" media="print">	
    <!--[if lt IE 8]><link rel="stylesheet" href="/static/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <title> pyjobs - the python job aggregator</title> 
  </head>
  <body>
    <div class="container">
      <div class="span-24 last">
        epyc - jobs
      </div>

      <div class="span-12 last">
	 <h3>{{job.title|safe}}</h3>
      </div>
      <div class="span-16">
         {{job.content|safe}}
      </div>
      <div class="span-4 last">
	<h4>Added on {{job.date_added.date}}</h4>
      </div>

      <div class="span-24">
        <div class="prepend-top push-5 span-8 last">
          <span class="quiet">
	    Copyright © 2008 - epyc 
          </span>
        </div>
      </div>
    </div>

    {{job_id}}
  </body>
</html>
