<html>
  <head>
    <link rel="stylesheet" href="/static/css/main.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/static/css/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/static/css/blueprint/print.css" type="text/css" media="print">	
    <!--[if lt IE 8]><link rel="stylesheet" href="/static/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <title> pyjobs - the python job aggregator</title> 
  </head>
  <body>
    <div id="container">
      <div id="header">
        <a href="/"><h1>epyc - jobs</h1></a>
      </div>

      <div id="title">
        <span>{{callback_kwargs}}</span>
        <ul id="menu">
          <li><a href="/">All Jobs</a></li>
          {% for a_city in cities %}
          <li><a href="/jobs/list/{{a_city}}" {% ifequal a_city city %} class="selected" {% endifequal %}>{{a_city}}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div id="content">
	 <ul>
           {% for job in jobs %}
             <li>{{job.date_added|date:"Y.m.d"}} - <a href="/jobs/{{job.id}}">{{job.title}}</a></li>
           {% endfor %}
         </ul>
      </div>
      <div id="right-column">
	<h4>{{job.date_added}}</h4>
      </div>

      <div id="footer">
        <div class="prepend-top push-5 span-8 last">
          <span class="quiet">
	    Copyright © 2008 - epyc 
          </span>
        </div>
      </div>
    </div>

    {{job_id}}
  </body>
</html>

